<xml><triggers><OnShoot><type>1</type><action>http://yandex.ru/yandsearch?text=%drive.%projectdir.%filedir.%prefix.%number.%ext</action></OnShoot></triggers><settings><_comboAEMode>M</_comboAEMode><_comboTv>8</_comboTv><_comboAv>5.6</_comboAv><_comboIso>800</_comboIso><_comboMeteringMode>Evaluative</_comboMeteringMode><_comboExposureComp>0</_comboExposureComp><_comboImageQuality>Middle Fine Jpeg</_comboImageQuality><_comboEvfAFMode>Live mode</_comboEvfAFMode><Lifeview>1</Lifeview><drivebox>[-c-]</drivebox><filedir>1</filedir><prefix>__</prefix><current_page>3</current_page><number_signs>4</number_signs></settings></xml>